<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cifrado César</title>
    <style>
      body{
        background-color:rgb(123, 208, 129);
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
      }
      h2{
        color: rgb(26, 96, 35);
      }
    </style>
  </head>
  <body>
    <form  action="../dynamics/PHP/cifradoC.php" method="post"> <!--Formulario para el texto a cifrar -->
      <fieldset >
        <legend><h2>Cifrado César</h2></legend>
        <textarea name="texto" rows="8" cols="80" style="resize:none" required></textarea>
        <br>
        <input type="submit" value="Enviar">
    </fieldset>
    </form>
  </body>
</html>
